body {
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: mintcream;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display: flex;
    padding-left: 0;
    padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Forecast table */
#forecastTable {
    background-color: #EEEEEE;
}

    #forecastTable th {
        background-color: #BBBBBB;
    }

.table-forecast {
    border: 1px solid black;
    display: block;
}

    .table-forecast.table-hidden {
        display: none;
    }

