@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MondoSurf is a surfer's best friend. From location services which showcase the best
    local spots to grab some wax or repair a ding to intuitive surf forecasting
    which simplifies deciding when to head out for a session, MondoSurf has you covered.</p>
