@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    777437524 Chester Chester Ave.<br />
    Paul Rigggaaal Blvd. <br />
    Saturday, CA 44441 (a.k.a., Browntown) <br />
    <abbr title="Phone">P:</abbr>
    949.690.0585
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:romanticwarrior87@gmail.com">romanticwarrior87@gmail.com</a><br />
</address>